body {
    background: black;
    padding: 0;
    padding-top: 2%;
    /*margin: 0;*/
    font-weight: bold;
    overflow: hidden;
}



button {
    background-color: black;
	border-style: none;
	color: #67e822;
	font-size: 20px;
}

.col-sm-1 {
	text-align: center;

}